nav {
    background-color: #332D2D !important;
    color: rgb(248, 245, 221) !important;
    /* how to make the navbar sticky */
    position: fixed;
    z-index: 2;
}

.sidenav {
    background-color: rgb(248, 245, 221) !important;
    height: 35vh;
}